<div class="jumbotron center">
	<h1>Welcome to my first project</h1>
	<p> 	
		<%= link_to "Sign up", "http://www.google.com", class: "btn btn-primary" %> 
		<%= link_to "Login", "http://www.google.com", class: "btn btn-primary" %> 
	</p>
</div>